<launch>

	<node pkg="stage_ros" name="stage" type="stageros" args="/opt/ros/kinetic/share/stage_ros/world/willow-erratic.world"/>
  <node pkg="homework2" name="tf_state_listener" type="tf_state_listener" launch-prefix="xterm -geometry 65x20+310+495 -e"/>
  <node pkg="teleop_twist_keyboard" name="controller" type="teleop_twist_keyboard.py" output="screen" launch-prefix="xterm -geometry 40x20+0+495 -e"/>

</launch>
